<% content_for :header do %>
Administration
<% end %>

<h1>All teachers</h1>

<ul id="list">
  <% @teachers.each do |t| %>
  <li>
    <%= link_to t.name, :action => "edit_teacher", :id => t.id %>
    <div class="actions">
      <%= link_to 'delete', {:action => "delete_teacher", :id => t.id}, :confirm => 'Are you sure?', :method => :delete, :class => 'redLink' %>
    </div>
  </li>
  <% end %>   
</ul>
<% if @teachers.empty? %>
  <div class="message">
    no teachers yet :-(
  </div>
<% end %>  

<div class="links">                                     
  <%= link_to 'new teacher', :action => "new_teacher" %>
</div>    