/* CSS Document */

/* CSS Document */

#bar {
	position: relative;
	left: -1px;
	top: 1px;
	font-size: 7px;
	line-height: 7px;
	visibility: visible;
} 

#quotes {
    margin-top: 0px;
}


#menu {
	width: 193px;
	position: relative;
	left: -1px;
	top: 1px;
} 

#menu ul { /* remove bullets and list indents */
list-style: none;
margin: 0;
padding: 0;
}

/* style, color and size links and headings to suit */
#menu a, #menu h2 {
	display: block;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: .7em;
	line-height: 1.3em;
	border-top: none;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

#menu h2 {
	color: #fff;
	background: #CC0000;
	text-transform: uppercase;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
}

#menu a {
	color: #FFFFFF;
	background: #aeaeae;
	text-decoration: none;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
}

#menu a:hover {
	color: #CC0000;
	background: #fff;
	border-top: none;
	border-right: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
	border-left: 1px solid #aeaeae;
}

#menu li {
/* make the list elements a containing block for the nested lists */
position: relative;
} 

#menu li: hover {z-index:1;}


#menu ul ul ul {
position: absolute;
top: 0;
left: 192px; /* to position them to the right of their containing block */
width: 100%; /* width is based on the containing block */
}

div#menu ul ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}

/* Styling for Expand */

#menu a.x, #menu a.x:visited{
	background:#aeaeae url(/images/css_expand_off.gif) no-repeat right center;
	border-top: none;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	}

#menu a.x:hover{
	background:#FFFFFF url(/images/css_expand_on.gif) no-repeat right center;
	border-top: none;
	border-right: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
	border-left: 1px solid #aeaeae;
}

#menu a.x:active{
	color:#CC0000;
	background:#ccc;
	border-top: none;
	border-right: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
	border-left: 1px solid #aeaeae;
	}
	
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 1.6em;
	padding-bottom: -0.5ems;
	margin-top: .5em;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.6em;
	font-style: normal;
	font-weight: normal;
	color: #CC0000;
	margin-top: 0.5em;
	padding-top: 4px;
	margin-bottom: 0.5em;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	color: #CC0000;
	margin-bottom: -0.2em;
	margin-top: 1.3em;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: bold;
	margin-bottom: -0.3em;
	margin-top: 1.7em;
	color: #666666;

}

.footer {
	font-size: 10px;
	color: #CC0000;
	line-height: 18px;
	padding-bottom: 10px;
	padding-top: 5px;
}
a.footer:link {  color: #cc0000; text-decoration: none;}
a.footer:visited {  color: #cc0000; text-decoration: none;}
a.footer:hover {  color: #ff0000; text-decoration: underline;}
a.footer:active {  color: #cc0000; text-decoration: underline;}
	
a:link {
	color: #CC0000;
	text-decoration: underline;
}
a:visited {  color:#CC0000}
a:hover {  color:#FF0000}
a:active {  color:#FF0000}

.nospace {
	padding: 0em;
	line-height: 0.7em;

}
A.internal:visited { color: #CC0000}

.bullets {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 1.3em;
	list-style-type: square;
	padding-bottom: .7em;

}
.small {
	font-size: 0.65em;
}

.caption {
	font-size: 0.65em;
	margin-top: 0em;
}

.numbers {
	font-size: 0.8em;
	line-height: 1.3em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-bottom: 0.7em;}
	

.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #aa0000;
	font-weight: bold;
	line-height: 1.8em;
	border-bottom: 1px solid #aa0000;
	padding-top: 0.6em;
}

.subheader { font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em; color: #000000; font-weight: normal;  line-height: 1.8em; border-bottom: 1px solid #999999  }
.body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em; line-height: 1.7em; border-bottom: 1px solid #999999 }
.invisible {
	display: none;
}
.tabletext { 
	margin-top: 0em;
}
.flagtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top: 0px;
	padding-right: 4px;
	padding-left: 4px;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	padding-bottom: 0px;
	margin: 0px;
}
a.white {
	color: #FFFFFF;
	text-decoration: none;
}
a.white:visited {  color:#FFFFFF}
a.white:hover {
	color:#FFFFFF;
	text-decoration: underline;
}
a.white:active {
	color:#FFFFFF;
	text-decoration: underline;
}
#table p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 1.5em;
	margin: 0px;
	padding-top: 0px;
	}
#table h3 {
	margin-bottom: 0em;
	}	
#table ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	list-style: none;
	margin: 2px;
padding: 0;
}
#calendar ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	list-style: none;
	margin: 2px;
padding: 0;
}
#minicalendar ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	list-style: none;
	padding-top: 0px;
	padding-right: 4px;
	padding-left: 4px;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	padding-bottom: 0px;
	margin: 0px;
	}
#minicalendar p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	list-style: none;
	padding-top: 0px;
	padding-right: 4px;
	padding-left: 4px;
	color: #FFFFFF;
	padding-bottom: 0px;
	margin: 0px;
	}
	
#minicalendar a {
	color: #FFFFFF;
	text-decoration: none;
}
#minicalendar a:visited {  color:#FFFFFF}
#minicalendar a:hover {
	color:#FFFFFF;
	text-decoration: underline;
}
#minicalendar a:active {
	color:#FFFFFF;
	text-decoration: underline;}
		
#study p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 14px;
	margin: 2px 1px;
	padding-top: 0px;
	}	

#study h3 {
	margin-bottom: 0em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	margin-top: 0px;


	}
#home h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	font-style: normal;
	font-weight: bold;
	color: #CC0000;
	margin-bottom: -0.4em;
	margin-top: -0.2em;
	
}	
	
	
#home h3 {
	display: block;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: .7em;
	line-height: 1em;
	border-top: none;
	color: #fff;
	background: #aaaaaa;
	margin-top: 1.5em;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
}

#home p {
	font-size:0.75em;
	line-height:0.7em;
	margin-left:5px;
	
	
	font-size: .75em;	
	}	
	
#home .small {
	font-size: 0.7em;
	line-height: 1.3em;
}	
	
	p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 1.5em;

	margin-top: .5em;
}
	
	
	
#home .add	{
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	line-height: 1.25ems;
	padding-bottom: -0.5ems;
	color: #000;



}
	
.address {
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
}
.email {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
blockquote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	}
.daysoftheweek {
	color: #FFFFFF;
	background-color: #999999;
	padding: 4px;
	font-weight: normal;
    }
.indent {
	padding-left: 35px;

}
.rotator {
margin-top: -4px;

}

.left {float:left;}

.header-links {
	padding-right:5px;
	padding-bottom:2px;
	color:white !important;
}      
            
.breadcrumbs {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:0.8em;
	color:gray;
	margin:5px 0px;
} 

.breadcrumbs a { 
	color:gray;	
}
 
.header-links a, .header-links a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:white !important;
	text-decoration:none;
	margin:0px 20px;
}

div.home_wrapper {
  height:160px;
	width:900px; 
}

div.home_wrapper a, div.home_wrapper a:link, div.home_wrapper a:visited, 
div.home_wrapper a:hover {
	background:transparent none repeat scroll 0 0 !important;
	border:medium none !important;
	display:block;
	height:160px;
	width:966px;
}

div.form p label {
	font-size:1.2em;
	line-height:1.7em;	
}                   

div.form p input {  
	font-size:1.2em;
}               

div.form div.fieldWithErrors {
	margin-top:-13px;
}  
               
div.form div.fieldWithErrors input {
	font-size:0.9em;
	line-height:0.9em;
	margin-left:5px;
}


p.error { color:#CC0000;}

div.question {
 	margin:20px 0 0 10px; 
}

div.answers-form {
	margin:20px 0 0 10px; 	
}

div.answers-form p.submit input {
	font-size:1.2em;
}

ul#list {
	list-style-type:none;
 	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:0.8em;
}

ul#list .actions {
	float:right;
	margin-right:30px;
}

.all-results {
	padding-top:10px	
}

.all-results div label {
	display:inline-block;	
}  

.all-results .table-header {
	padding:10px 0px;
}  

.all-results .table-header label {
	color:#CC0000;
}

.all-results div .name {
	width:300px;
}

.all-results div .count {
	width:150px;         	 
	text-align:center;
}

.all-results div .percent {
	width:150px;      
	text-align:center;   	
} 


div.fields {
	border-bottom:1px solid gray;
	margin-right:10px;
	padding:10px 0;
}
 
div.fields .actions a, .form .actions a {
	text-decoration:none;
	padding:0px 0 0px 5px;
	cursor:pointer;	
}                                 

div.fields .actions a:hover, .form .actions a:hover {
	background:none;
	cursor:pointer;	
}                           

div.fields .actions a span, .form .actions a span{
	padding:0px 5px;
  cursor:pointer;	
}             

.edit-question textarea {
	margin:8px 25px;
}

.edit-question input.question-image {
	margin:8px 25px;
}                    

.errorExplanation p {
}  

.errorExplanation ul {
 	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;                          
		font-size:0.75em;
} 
                    
.errorExplanation {
	color:#CC0000;	    
	font-family:Verdana,Arial,Helvetica,sans-serif;
}  
