<div class="leftColumn">
  <h2>Select your teacher →</h2>
</div>

<div class="rightColumn">
  <ul id="list">
    <% for t in @teachers %>                                
    <li><%= link_to t.name, dashboard_user_subjects_path(t) %></li>
    <% end %> 
  </ul>
</div>