<div class="left">
  <img src="/images/homepage_2008_top.jpg" width="287" height="300"/>
</div>
<div class="left" style="margin-left:10px">
  <h1>Sandringham School Tests</h1>
  <p class="welcome-message">Welcome to the ICT website. <br/> 
     Here you will be able to complete on line tests.<br/> <br/>
     Select your teacher to start →</p>
</div>

<% content_for :sidebar do %>
<h3>Select your teacher</h3>

<% for t in @teachers %>                                
<p><%= link_to t.name, dashboard_user_subjects_path(t) %></p>
<% end %> 

<% end %>