<% content_for :header do %>
<%= link_to @teacher.name, dashboard_user_subjects_path(@teacher) %>
<% end %>


<h1>Select a subject →</h1>


<% content_for :sidebar do %>
<h3>Select your subject</h3>

<% @subjects.each do |subject| %>                   
<p><%= link_to subject.title, dashboard_user_subject_tests_path(@teacher, subject) %></p>
<% end %> 

<% if @subjects.empty? %>
  no subjects yet :-(
<% end %>  

<% end %>