<p class="fields edit-question">    
  <%= f.check_box :correct, :class => "correct_answer" %>
  <%= f.text_field :answer %>     
  <span class="actions" style="margin-left:10px"><%= link_to_remove_fields "-", f %></span>
</p>