<% content_for :header do %>
<%= link_to @teacher.name, dashboard_user_subjects_path(@teacher) %> → 
<%= link_to @subject.title, dashboard_user_subject_tests_path(@teacher, @subject) %>
<% end %>

<h1>Select a test →</h1>

<% content_for :sidebar do %>
    <h3>Select a test</h3>

    <% for test in @tests %>
    <p><%= link_to test.title, before_pass_user_subject_test_path(@teacher, @subject, test) %></p>
    <% end %>
    
    <% if @tests.empty? %>    
      no tests yet :-(
    <% end %>    
<% end %>